<form [formGroup]="authForm">
  <mat-form-field appearance="legacy">
      <input matInput formControlName="user" placeholder="Enter your user" text="text">
  </mat-form-field>
  <mat-form-field appearance="legacy">
      <input matInput class="form-input" formControlName="password" placeholder="Enter your password" text="password">
  </mat-form-field>

  <!--Errores-->
  <div *ngIf="showError">
      Login error
  </div>

</form>
<button mat-stroked-button color="primary" (click)="submit()">Login</button>
