<form [formGroup]="authForm">

  <label for="user">User</label>
  <mat-form-field appearance="legacy">
      <input matInput formControlName="user" placeholder="Enter your user" text="text">
  </mat-form-field>

  <label for="password">Password</label>
  <mat-form-field appearance="legacy">
      <input matInput class="form-input" formControlName="password" placeholder="Enter your password" text="password">
  </mat-form-field>

  <!--Errores-->
  <div *ngIf="showError">
      Login error
  </div>

</form>
<button mat-button (click)="submit()">Login</button>
